.root {
  position: relative;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000; /* Ensure overlay is above other content */
}

.loginSignupContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001; /* Ensure the modal is above the overlay */
  visibility: hidden; /* Default to hidden */
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

.showContainer {
  visibility: visible;
  opacity: 1;
}
.hs-overlay {
  display: none;
}
.hs-overlay.block {
  display: block;
}
.hidden {
  display: none;
}